@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway';
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 8px;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 60px;
}

section {
    margin: 100px auto;
}

.banner .banner-content {
    margin: auto;
    width: 600px;
}

.banner .banner-content .logo {
    height: 260px;
    width: 260px;
    margin: auto;
    padding: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main {
    margin-bottom: 8px;
}

.banner-content h1 {
    background-color: #31A8DD;
    background-clip: text;
    background-image: linear-gradient(#1572B7, #3BA1CD);
    color: transparent;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.banner-content p {
    font-weight: 350;
    font-size: 1.25rem;
    margin: 16px 0 24px;
}


.banner .banner-content button {

    background-color: #31A8DD;
    background-clip: text;
    background-image: linear-gradient(#1572B7, #3BA1CD);
    color: transparent;
    text-transform: uppercase;
    font-size: 1em;
    background-color: transparent;
    width: 326px;
    height: 57px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 1rem;
    padding: 16px 32px;
    border: 2px solid transparent;
    border-radius: 30px;
    border-image-slice: 10;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
}

#course-content {
    width: 800px;
    height: 325px;
    opacity: 0px;
    text-align: center;
}

#course-content h2 {
    background-image: url("../images/banner.png"), linear-gradient(#31A8DD00, #00000099);
    background-color: #31A8DD;
    background-clip: text;
    background-image: linear-gradient(#1572B7, #3BA1CD);
    color: transparent;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 24px;

}

#course-content p {
    color: #fff;
}

.modules-list {
    color: #fff;
    width: 800px;
    margin: 24px 0;

}

.module {
    border: 1px solid #33A8DB;
    border-radius: 100px;
    color: #fff;
    font-size: 1em;
    background-color: #252525;
    width: 530px;
    margin: 0 auto 24px;
    padding: 16px;
    box-shadow: inset -5px 4px 8px rgba(0, 0, 0, .7);
}

.module span {
    color: #33A8DB;
}

#transform-world {
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1 stretch;
    background-size: cover;
    background-position: center;
    background-image: url("../images/woman-code.png");
    position: relative;
    background-attachment: fixed;
    height: 560px;
    padding: 200px;
}

#transform-world p {
    text-transform: lowercase;
    font-weight: 900;
    font-size: 2.5em;
    text-shadow: 3px 2px #33A8DB;
    width: 250px;
    height: 141px;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}


#professional-challenges h2 {
    background-color: #31A8DD;
    background-clip: text;
    background-image: linear-gradient(#1572B7, #3BA1CD);
    margin-bottom: 24px;
    letter-spacing: 4px;
    color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    width: 746px;
}


section#professional-challenges p {
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    width: 792px;
    height: 76px;
    margin: 40px auto 76px auto;
    text-align: center;
}

footer {
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    padding: 60px 0;
    border-top: 1px solid #33A8DB80;
}

footer img.dio-logo {
    display: flex;
    width: 300px;
    height: 44px;
    margin: auto;
}

footer p {
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

footer p a {
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    color: #33A8DB;
}